h1,
body,
div,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-image: url(images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 1280px;
  height: 720px;
  border-color: #d9d9d9;
}

.header img {
  margin: 0 auto;
  display: block;
  padding-top: 57px;
  position: relative;
}

.contents {
  margin: 0 auto;
  background-color: #9c6035;
  width: 300px;
  height: 296px;
  flex-shrink: 0;
  border-radius: 0px 0px 30px 30px;
  border-bottom: 10px solid #46260e;
  background: #9c6035;
  margin-bottom: 57px;
}
.contents h1 {
  color: #fff;
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 41.4px;
  margin-left: 20px;
  margin-top: 10px;
}
.contents p {
  width: 260px;
  height: 130px;
  color: #e8bc9c;
  font-family: "Arial";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  margin-left: 20px;
  margin-top: 10px;
}
